<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Successfully</title>
</head>
<body>


<h1>Registry Successfully Done:</h1>
<br>
<h2>Click View To View Register Detail </h2>

<div  align="center" >
<form  action="/detail">
<button  type="submit">View Detail</button>
</form>
</div>

<br>
<h2>Please go-to Login Page for Generating User-name and  Password</h2>
<div  align="center">
<form  action="/create">
<button type="submit">Generate Credential</button>
</form>
</div>

</body>
</html>